<ion-content [fullscreen]="true">
  <div class="global">
    <div class="toptitle">
      <h1>Kredituak</h1>
      <h3>Eskerrik asko jolasteagatik!</h3>
    </div>
    <div class="content kredituak">
      <h2>Bokapintxo taldea</h2>
      <h4>Programazioa eta diseinua</h4>
      <h2>Aimar Murua</h2>
      <h2>Erlantz Garate</h2>
      <h4>Planifikazioa eta gidoia</h4>
      <h2>Asier Santos</h2>
      <h2>Olatz Riesco</h2>
      <h2>Maider Trimiño</h2>
      <h2>Nerea Ramos</h2>
      <h4>DidaktikApp proiektua, 2024</h4>
      <h4>github.com/bokapintxo/didaktikapp</h4>
    </div>
    <div class="bottom">
      <ion-button class="button-secondary" (click)="pushSecondaryButton(); navigateAttribution()">Atribuzioak</ion-button>
      <ion-button class="button-primary" (click)="pushButton(); goBack()">Atzera</ion-button>
    </div>
  </div>
</ion-content>
