<ion-content [fullscreen]="true">
  <div class="global">
    <div class="toptitle">
      <h1>Hitzak lotu</h1>
      <h3>Durangoko arausten egunak</h3>
    </div>
    <div class="content">
      <div class="hflex gap20">
        <div class="vflex w100">
          <ion-button class="button-secondary" [class]="estilosBotones['eguenzuri'] === 'hitzakbtn-lila' ? 'hitzakbtn-lila' : ''" (click)="estiloaAldatu('eguenzuri', 'hitzakbtn-lila'); pushSecondaryButton()">Eguenzuri</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['bariku_argi'] === 'hitzakbtn-larrosa' ? 'hitzakbtn-larrosa' : ''" (click)="estiloaAldatu('bariku_argi', 'hitzakbtn-larrosa'); pushSecondaryButton()">Bariku argi</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['zapatu_erregularra'] === 'hitzakbtn-berdea' ? 'hitzakbtn-berdea' : ''" (click)="estiloaAldatu('zapatu_erregularra', 'hitzakbtn-berdea'); pushSecondaryButton()">Zapatu eregularra</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['domeka_karnabala'] === 'hitzakbtn-horia' ? 'hitzakbtn-horia' : ''" (click)="estiloaAldatu('domeka_karnabala', 'hitzakbtn-horia'); pushSecondaryButton()">Domeka karnabala</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['ilen_karnabala'] === 'hitzakbtn-naranja' ? 'hitzakbtn-naranja' : ''" (click)="estiloaAldatu('ilen_karnabala', 'hitzakbtn-naranja'); pushSecondaryButton()">Ilen karnabala</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['martitzen_karnabala'] === 'hitzakbtn-gorria' ? 'hitzakbtn-gorria' : ''" (click)="estiloaAldatu('martitzen_karnabala', 'hitzakbtn-gorria'); pushSecondaryButton()">Martitzen karnabala</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['txitxiburduntxi'] === 'hitzakbtn-urdina' ? 'hitzakbtn-urdina' : ''" (click)="estiloaAldatu('txitxiburduntxi', 'hitzakbtn-urdina'); pushSecondaryButton()">Txitxiburduntxi</ion-button>
        </div>
        <div class="vflex w100 gap10">
          <ion-button class="button-secondary" [class]="estilosBotones['ostirala'] ? 'hitzakbtn-larrosa' : ''" (click)="estiloaAldatu('ostirala', 'hitzakbtn-larrosa'); pushSecondaryButton()">Ostirala</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['osteguna'] ? 'hitzakbtn-lila' : ''" (click)="estiloaAldatu('osteguna', 'hitzakbtn-lila'); pushSecondaryButton()">Osteguna</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['2igandea'] ? 'hitzakbtn-horia' : ''" (click)="estiloaAldatu('2igandea', 'hitzakbtn-horia'); pushSecondaryButton()">2.Igandea</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['astelehena'] ? 'hitzakbtn-naranja' : ''" (click)="estiloaAldatu('astelehena', 'hitzakbtn-naranja'); pushSecondaryButton()">Astelehena</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['asteartea'] ? 'hitzakbtn-gorria' : ''" (click)="estiloaAldatu('asteartea', 'hitzakbtn-gorria'); pushSecondaryButton()">Asteartea</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['1igandea'] ? 'hitzakbtn-urdina' : ''" (click)="estiloaAldatu('1igandea', 'hitzakbtn-urdina'); pushSecondaryButton()">1.Igandea</ion-button>
          <ion-button class="button-secondary" [class]="estilosBotones['larunbata'] ? 'hitzakbtn-berdea' : ''" (click)="estiloaAldatu('larunbata', 'hitzakbtn-berdea'); pushSecondaryButton()">Larunbata</ion-button>
        </div>
      </div>
    </div>
    <div class="bottom">
      <ion-button id="hitzaklotujarraitu" class="button-primary button-disabled" (click)="navigateHitzakLotuBi(); pushButton()">jarraitu</ion-button>
    </div>
  </div>
</ion-content>
