<ion-content [fullscreen]="true">
  <div class="global">
    <div class="maintitle">
      <h1>Durango klik batean</h1>
    </div>
    <div class="content hbcenter">
      <!--
      <ion-button class="button-secondary" (click)="navigateUrkatua(); pushSecondaryButton()">urkatua</ion-button>
      <ion-button class="button-secondary" (click)="navigateBingoRole(); pushSecondaryButton()">bingoa</ion-button>
      <ion-button class="button-secondary" (click)="navigatePuzzle(); pushSecondaryButton()">puzzlea</ion-button>
      <ion-button class="button-secondary" (click)="navigateHitzak(); pushSecondaryButton()">hitzak lotu</ion-button>
      <ion-button class="button-secondary" (click)="navigateHitzak2(); pushSecondaryButton()">hitzak lotu 2</ion-button>
      <ion-button class="button-secondary" (click)="navigateLaberintoa(); pushSecondaryButton()">laberintoa</ion-button>
      <ion-button class="button-secondary" (click)="navigateHizkiZopa(); pushSecondaryButton()">hizki zopa</ion-button>
      <ion-button class="button-secondary" (click)="navigateZenbakiakLotu(); pushSecondaryButton()">zenbakiak lotu</ion-button>
      <ion-button class="button-secondary" (click)="navigateDialog(); pushSecondaryButton()">dialogoa</ion-button>
      <ion-button class="button-secondary" (click)="navigateTemplate(); pushSecondaryButton()">template</ion-button>
      <ion-button class="button-secondary" (click)="incorrectHaptic();">incorrect (vibration)</ion-button>
      <ion-button class="button-secondary" (click)="correctHaptic();">correct (vibration)</ion-button>
      -->
      <img src="../../assets/portada.png">
    </div>
    <div class="bottom">
      <span id="loading">Konektatzen...</span>
      <ion-button class="button-primary button-disabled" id="startButton" (click)="pushButton(); navigateDialog()">hasi</ion-button>
      <ion-button class="button-secondary" (click)="navigateKredituak(); pushSecondaryButton()">kredituak</ion-button>
    </div>
  </div>
</ion-content>
